.nav {
    background-color: #ffffff99;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
}

.nav h1 {
    font-size: 40px;
    transition: 0.3s;

    &:hover {
        font-size: 45px;
        color: white;
        transition: 0.3s;
    }
}

.nav a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
        font-size: 25px;
        color: rgb(255, 255, 255);
        transition: 0.3s;
    }
}