.negro {
    background-color: black;
    color: white;
    margin: 10px;
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    transition: 1s;

    &:hover {
        width: 180px;
        height: 80px;
        border: 3px rgb(58, 206, 0) solid;
        transition: 1s;
    }
}

.gris {
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    margin: 10px;
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    transition: 1s;

    &:hover {
        width: 180px;
        height: 80px;
        border: 3px rgb(58, 206, 0) solid;
        transition: 1s;
    }
}